@model berkeley_college.Models.Teacher

@{
    ViewData["Title"] = "Details";
    var modules =(IEnumerable<Module>) ViewBag.Modules;
}

<h1>Teacher Module Mapping Form</h1>
<div class="form-group">
    <form asp-action="Details">
        <label asp-for="TeacherId" class="control-label"></label>
        <select asp-for="TeacherId" onchange="OnChangeEvent(this);" class="form-control" asp-items="ViewBag.TeacherId"><option selected>@ViewBag.Teacher.TeacherId</option></select>
    </form>
</div>
<div>
    <h3>teacher id :<a asp-action="Details" asp-controller="Teachers" asp-route-id="@ViewBag.Teacher.TeacherId">@ViewBag.Teacher.TeacherId</a>  </h3>
    <h3>teacher Name: @ViewBag.Teacher.Person.FirstName  @ViewBag.Teacher.Person.LastName</h3>
</div>
<script type="text/javascript">
 function OnChangeEvent(dropDownElement){
  var selectedValue = dropDownElement.options[dropDownElement.selectedIndex].value;
  document.location = "/teachermodules/details/" + selectedValue;
 }
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Credit
            </th>
            <th>
                Teaching days
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in modules) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeachingDays)
            </td>
        </tr>
}
    </tbody>
</table>
