@model berkeley_college.Models.Payment

@{
    ViewData["Title"] = "Details";
    var Payments =(IEnumerable<Payment>) ViewBag.Payments;
}

<h1>Student Fee Payment Form</h1>
<div class="form-group">
    <form asp-action="Details">
        <label asp-for="StudentId" class="control-label"></label>
        <select asp-for="StudentId" onchange="OnChangeEvent(this);" class="form-control" asp-items="ViewBag.StudentId"><option selected >@ViewBag.Student.StudentId</option></select>
    </form>
</div>
<div>
    <h3>Student id :<a asp-action="Details" asp-controller="Students" asp-route-id="@ViewBag.Student.StudentId">@ViewBag.Student.StudentId</a>  </h3>
</div>
<script type="text/javascript">
 function OnChangeEvent(dropDownElement){
  var selectedValue = dropDownElement.options[dropDownElement.selectedIndex].value;
  document.location = "/StudentsPayment/Index/" + selectedValue;
 }
</script>
<h3>Student name : @ViewBag.Student.Person.FirstName @ViewBag.Student.Person.LastName</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                Department Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Payments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
        </tr>
        }
    </tbody>
</table>
