@model berkeley_college.Models.Result

@{
    ViewData["Title"] = "Details";
    var results=(IEnumerable<Result>) ViewBag.results;
    Student s = ViewBag.student;
}

<h1>Student Assignment Form</h1>
<div class="form-group">
    <form asp-action="Details">
        <label asp-for="StudentId" class="control-label"></label>
        <select asp-for="StudentId" onchange="OnChangeEvent(this);" class="form-control" asp-items="ViewBag.StudentId"><option selected disabled>@s.StudentId</></option></select>
    </form>
</div>
<script type="text/javascript">
 function OnChangeEvent(dropDownElement){
  var selectedValue = dropDownElement.options[dropDownElement.selectedIndex].value;
  document.location = "/StudentsResults/Index/" + selectedValue;
 }
</script>
    <dl class="row">
        <dt class="col-sm-2">
            Student Id
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Details" asp-controller="Students" asp-route-id="@ViewBag.Student.StudentId">@s.StudentId</a> 
        </dd>
        <dt class="col-sm-2">
            Student name
        </dt>
        <dd class="col-sm-10">
            @s.Person.FirstName  @s.Person.LastName
        </dd>
    </dl>

<table class="table">
    <thead>
        <tr>
            <th>
                Result Id
            </th>
            <th>
               Grade 
            </th>
            <th>
                Status
            </th>
            <th>
               Module Id 
            </th>
            <th>
               Module Name 
            </th>
            <th>
               Assignment Id 
            </th>
            <th>
               Assignment Name 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResultId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-controller="Modules" asp-action="Details" asp-route-id="@item.ModuleId"> @Html.DisplayFor(modelItem => item.ModuleId)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module.Name)
            </td>
            <td>
                <a asp-controller="Assignments" asp-action="Details" asp-route-id="@item.AssignmentId"> @Html.DisplayFor(modelItem => item.AssignmentId)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment.Type)
            </td>
        </tr>
}
    </tbody>
</table>
